doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src="javascript/libs/jquery.min.js")
  link(href='styles/normalize.css' rel='stylesheet')
  link(href='styles/ccb.css' rel='stylesheet')
  title Document
body
  script(src='javascript/libs/blocksdk.js')
  script(src='javascript/ccb.js' type='module')
  block content
    .ccb-form__wrapper
      .ccb-form__header Custom Content Block For ZNS Message
      form#ccb-form
        .ccb-form__Options-wrapper
          select#ccb-form__znsOptions.ccb-form__Options(name='znsOptions')
            each znsOption in znsOptions
              option(value=znsOption.value)=znsOption.name