doctype html
html
  head
    title= title
    link(rel="icon" type="image/x-icon" href="/images/icon.png")
    link(rel='stylesheet', href='/styles/salesforce-lightning-design-system.min.css')
    link(rel='stylesheet', href='/styles/customActivity.css')
    link(rel='stylesheet', href='/styles/font-awesome.min.css')
    script(src="javascript/libs/jquery.min.js")
    script(src="javascript/libs/jquery.validate.min.js")
    script(src="javascript/libs/postmonger.js")
    script(src="javascript/libs/jquery.json-viewer.js")
    script(src="javascript/libs/superagent.min.js")
    script(src="javascript/customActivity.js")
    link(rel='stylesheet', href='/styles/jquery.json-viewer.css')
  body
    block content
