extends layout

block content
  article.slds-card.ca-container
    .slds-card__header.slds-grid
      header.slds-media.slds-media_center.slds-has-flexi-truncate
        .slds-media__figure
          span.slds-icon_container.slds-icon-standard-contact(title="Custom Activity")
            svg.slds-icon.slds-icon_small(aria-hidden="true")
              use#iconDynamic(xlink:href="")
            span.slds-assistive-text contact
        .slds-media__body
          h2.slds-card__header-title
            p.slds-card__header-link.slds-truncate(href="javascript:void(0);" title="Card Header")
              span#titleDynamic
    .slds-card__body.slds-card__body_inner
      form#step1.step.js-settings-form
        .slds-form-element
          .slds-form-element__control  
            .slds-select_container
              select#Channels.slds-select.js-activity-setting(name='Channels')
                option(value='')= '--Select one of the following channels--'
                each Channel in Channels
                  option(value=Channel.Name)= Channel.Name
      form#step2.step.js-settings-form
        .slds-form-element
          .slds-form-element__control  
            .slds-select_container
              select#Senders.slds-select.js-activity-setting(name='Senders')
      form#step3.step.js-settings-form
        .slds-form-element
          label.slds-form-element__label(for='DEFields') Data Extension Fields
          .slds-form-element__control
            .slds-select_container
              select#DEFields.slds-select.js-activity-setting(name='DEFields')
      form#step4.step.js-settings-form
        #ZaloContentContainer
          .slds-form-element
            .slds-form-element__control
              label.slds-form-element__label(for='ContentOptions')
                abbr.slds-required(title='required') *
                | Content
              .slds-select_container
                select#ContentOptions.slds-select.js-activity-setting(name='ContentOptions')
            br
            .slds-form-element__control
              button#refreshButton(type="button") Refresh
            br
            .slds-form-element__control
              #DisplayContent
          iframe#ca-frame(src="" width="100%" )
        #SMSContentContainer
          #ca-form-SMSContent-element.slds-form-element
            label.slds-form-element__label.ca-label(for='SMSMNO')
              abbr.slds-required(title='required') * 
              | MNO:
            .slds-form-element__control
              select#MNOOptions.slds-select.js-activity-setting(name='MNOOptions')
            label.slds-form-element__label.ca-label(for='SMSTemplate')
              abbr.slds-required(title='required') * 
              | Template:
            .slds-form-element__control
              select#TemplateOptions.slds-select.js-activity-setting(name='TemplateOptions')
            label.slds-form-element__label.ca-label(for='SMSMessage')
              abbr.slds-required(title='required') * 
              | Message:
            .slds-form-element__control
              textarea#SMSMessage.slds-textarea.ca-textarea(name='SMSMessage' placeholder='Enter your message')
          #ca-form-SMSDEKeys-element.slds-form-element
            .slds-form-element__label DE Fields:
          #ca-form-SMSValidate-element.slds-form-element
            input#SMSValidate.slds-button.slds-button_brand.ca-validate(type="button" value="Validate")
        textarea#ContentValue.slds-input.js-activity-setting( rows = '20' required='' placeholder='' name='text', disabled)
    footer.slds-card__footer
    .ca-modal
      .ca-modal__container
        .ca-modal__loading
          svg.spinner(viewbox='0 0 50 50')
            circle.path(cx='25' cy='25' r='20' fill='none' stroke-width='5')
          p.ca-modal__text Loading data...
        .ca-modal__validateResult.success
          .ca-modal__validateResult__title
            p Congratulations
          .ca-modal__validateResult__desc
            i.fa-solid.fa-check
            p.ca-modal__validateResult__success-message Your changes have been validated successfully
          button.slds-button.slds-button_brand.ca-modal__validateResult__button OK
        .ca-modal__validateResult.failed
          .ca-modal__validateResult__title
            p Error
          .ca-modal__validateResult__desc
            i.fa-solid.fa-xmark
            p.ca-modal__validateResult__error-message An error occurred while submitting the form. Please try again
          button.slds-button.slds-button_brand.ca-modal__validateResult__button OK