:root {
  --primary-color: #524fa1;
  --text-color: #4b5563;
  --component-color: #263237;
  --theme-bg-color: #1b96ff;
}

@font-face {
  font-family: 'SalesforceSans';
  src: url('/fonts/SalesforceSans-Regular.ttf') format('truetype');
}

* {
  box-sizing: inherit;
  font-family: 'SFS', sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#main {
  margin-left: 30rem;
}

.header {
  height: 7.2rem;
  background-color: var(--theme-bg-color);
  position: fixed;
  top: 0;
  left: 30rem;
  right: 0;
  z-index: 10000;
}

.header-content {
  height: 7.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.ca-logo {
  height: 10rem;
  width: auto;
}

.user {
  display: flex;
  align-items: center;
}

.noti {
  color: #fff;
  padding: 2rem;
  position: relative;
}

.ca-bell {
  font-size: 2rem;
}

.noti-count-wrapper {
  position: absolute;
  top: 13px;
  left: 28px;
  background-color: red;
  border-radius: 50%;
  min-height: 1.5rem;
  min-width: 1.5rem;
  display: flex;
}

.noti-count {
  margin: auto;
  color: #fff;
  font-size: 1rem;
  padding: 0.1rem;
}

.avatar-wrapper {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.avatar {
  border-radius: 50%;
}

.body {
  margin-top: 7.2rem;
  font-size: 2rem;
  height: 300rem;
  padding: 0 2rem 2rem 2rem;
}

.sidebar {
  background-color: var(--component-color);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30rem;
  font-size: 2rem;
  padding: 0 2rem;
}

.breadcrumb {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 0 -2rem 2rem -2rem;
  padding: 0 2rem;
}

.breadcrumb__channel {
}

.breadcrumb__path {
}

.content__container {
  background-color: #fff;
  height: 100%;
}

.content {
}

.footer {
  font-size: 2rem;
  padding: 0;
}

.footer-content {
  background-color: #fff;
  height: 5rem;
}

.menu-heading {
  font-size: 3rem;
}

.menu-item-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
