:root {
  --primary-color: #524fa1;
  --text-color: #4b5563;
  --component-color: #263237;
  --theme-bg-color: #1b96ff;
  /* --submenu-height: 10rem; */
}

@font-face {
  font-family: 'SalesforceSans';
  src: url('/fonts/SalesforceSans-Regular.ttf') format('truetype');
}

* {
  box-sizing: inherit;
  font-family: 'SFS', sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#main {
  margin-left: 30rem;
}

.header {
  height: 7.2rem;
  background-color: var(--theme-bg-color);
  position: fixed;
  top: 0;
  left: 30rem;
  right: 0;
  z-index: 10000;
}

.header__content {
  height: 7.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.ca__logo {
  height: 10rem;
  width: auto;
}

.user {
  display: flex;
  align-items: center;
}

.noti {
  color: #fff;
  padding: 2rem;
  position: relative;
}

.ca__bell {
  font-size: 2rem;
}

.noti__count__wrapper {
  position: absolute;
  top: 13px;
  left: 28px;
  background-color: red;
  border-radius: 50%;
  min-height: 1.5rem;
  min-width: 1.5rem;
  display: flex;
}

.noti__count {
  margin: auto;
  color: #fff;
  font-size: 1rem;
  padding: 0.1rem;
}

.avatar__wrapper {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.avatar {
  border-radius: 50%;
}

.body {
  margin-top: 7.2rem;
  font-size: 2rem;
  height: 300rem;
  padding: 0 2rem 2rem 2rem;
}

.sidebar {
  background-color: var(--component-color);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30rem;
  font-size: 2rem;
  padding: 0 2rem;
}

.breadcrumb {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 0 -2rem 2rem -2rem;
  padding: 0 2rem;
}

.breadcrumb__channel {
}

.breadcrumb__path {
}

.content__container {
  background-color: #fff;
  height: 98%;
}

.content {
}

.footer {
  background-color: #fff;
  height: 5rem;
  font-size: 2rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__heading {
  font-size: 3rem;
}

.menu__item__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenu {
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: none;
}

.menu__item {
  /* transition: all 0.5s linear; */
}

.menu__item__arrow {
  transition: transform 0.2s linear;
}
/* Utils */

.rotate-90 {
  transform: rotate(90deg);
}

.show {
  opacity: 1;
  display: inline-block;
}

/* .expanded {
  transform: translateY(var(--submenu-height))
} */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.table-wrapper {
  width: 95%;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
.table-title .add-new i {
  margin-right: 4px;
}
table.table {
  table-layout: fixed;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table th:last-child {
  width: 100px;
}
table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}
table.table td a.add {
  color: #27c46b;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #e34724;
}
table.table td i {
  font-size: 19px;
}
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}
table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}
.container-md,
.container-sm,
.container-xl {
  max-width: 90%;
}
