:root {
  --primary-color: #b0c4df;
  --text-color: #080707;
}

html {
  /* font-family: none; */
  line-height: normal;
  font-size: 62.5%;
}

.ccb-textarea {
  font-size: 1.8rem;
  font-family: serif;
  color: var(--text-color);
  padding: 10px;
  max-width: 380px;
}

.ccb-input {
  font-size: 1.8rem;
  font-family: serif;
  color: var(--text-color);
  padding: 10px;
}

.ccb-form__wrapper {
  background-color: var(--primary-color);
  padding: 0 10px;
  min-height: 100vh;
  position: relative;
}

.ccb-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(126,140,153,.8);
  opacity: 0.65;
  display: none;
}

.ccb-modal__container {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ccb-modal__text {
  font-size: 2rem;
  color: white;
}

.ccb-modal__submitResult {
  width: 380px;
  background-color: #fff;
  font-size: 1.8rem;
  display: none;
}

.ccb-modal__submitResult i {
  font-size: 8rem;
  width: 100%;
}

.ccb-modal__submitResult-title {
  padding: 1rem;
}
.ccb-modal__submitResult-desc {
  font-size: 1.6rem;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.ccb-modal__submitResult-button {
  margin: 1rem;
  padding: 0.6rem;
  float: right;
}

.ccb-modal__submitResult.success i {
  color: #45c65a;
}

.ccb-modal__submitResult.failed i {
  color: #ba0517;
}

li {
  border: 2px solid var(--text-color);
  border-radius: 3px;
  padding: 3px;
  margin: 7px -5px;
}

#ccb-form {
  width: 380px;
  margin: 0 auto;
}

#ccb-form__Group {
  display: flex;
  flex-direction: column;
}

.ccb-form__header {
  font-size: 1.8rem;
  color: var(--text-color);
  text-align: center;
}

.ccb-select {
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 6px;
  outline: none;
  height: auto;
}

.ccb-label {
  font-size: 1.6rem;
  color: var(--text-color);
}

.form-input {
  font-size: 1.8rem;
  outline: none;
  padding: 10px;
  white-space: pre-wrap;
}

.button {
  width: 100%;
  font-size: 1.6rem;
  padding: 10px;
}

.button:hover {
  cursor: pointer;
}

.button + .button {
  margin-left: 0;
}

.submitButton {
  margin: 7px 0;
}

.removeButton {
  margin-top: 7px;
}

#elementList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.actionTypeContent {
  display: flex;
  flex-direction: column;
}

.element__header {
  font-size: 1.8rem;
  color: var(--text-color);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.ccb-form__error {
  font-size: 1.6rem;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  /* margin: -25px 0 0 -25px; */
  width: 100%;
  height: 50px;
}
.spinner .path {
  /* stroke: hsl(210, 70, 75); */
  stroke: white;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
  z-index: 1;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
