html {
  background: #ffffff;
}
.error {border-color: red;}
.slds-form-element__label{ 
font-size: .85rem;
font-weight: 600;
}
#DEFields{ font-size: 0.75rem;}

.ca-container {
  min-height: 100vh;
}


#okia{ padding-right: 10px;}

.loading-indicator {
  height:80px;
  width:80px;
  background:url('../images/loading.gif' );
  background-repeat:no-repeat;
  background-position:center center;
}

.loading-indicator-overlay {
  background-color:#FFFFFF;
  opacity:0.6;
  filter: alpha(opacity =60);
}

#ContentValue { 
  display:none;
}

.ccb-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.ccb-modal__container {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ccb-modal__text {
  font-size: 2rem;
  color: white;
}

.ccb-modal__submitResult {
  width: 380px;
  background-color: #fff;
  font-size: 1.8rem;
  display: none;
}

.ccb-modal__submitResult i {
  font-size: 8rem;
  width: 100%;
}

.ccb-modal__submitResult-title {
  padding: 1rem;
}
.ccb-modal__submitResult-desc {
  font-size: 1.6rem;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.ccb-modal__submitResult-button {
  margin: 1rem;
  padding: 0.6rem;
  float: right;
}

.ccb-modal__submitResult.success i {
  color: #45c65a;
}

.ccb-modal__submitResult.failed i {
  color: #ba0517;
}
