html {
  background: #ffffff;
}
.error {
  border-color: red;
}
.slds-form-element__label {
  font-size: 0.85rem;
  font-weight: 600;
}
#DEFields {
  font-size: 0.75rem;
}

.ca-container {
  min-height: 100vh;
  position: relative;
}

#okia {
  padding-right: 10px;
}

#ContentValue {
  display: none;
}

.ca-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(126, 140, 153, 0.8);
  display: none;
}

.ca-modal__container {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ca-modal__text {
  font-size: 20px;
  color: white;
}

.ca-modal__submitResult {
  width: 380px;
  background-color: #fff;
  font-size: 18px;
  display: none;
}

.ca-modal__submitResult i {
  font-size: 80px;
  width: 100%;
}

.ca-modal__submitResult__title {
  padding: 10px;
}
.ca-modal__submitResult__desc {
  font-size: 16px;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.ca-modal__submitResult__button {
  margin: 10px;
  padding: 6px;
  float: right;
}

.ca-modal__submitResult.success i {
  color: #45c65a;
}

.ca-modal__submitResult.failed i {
  color: #ba0517;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  /* margin: -25px 0 0 -25px; */
  width: 100%;
  height: 50px;
}
.spinner .path {
  /* stroke: hsl(210, 70, 75); */
  stroke: white;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
  z-index: 1;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

#ca-frame {
  min-height: 308px;
  display: none;
}
