:root {
  --primary-color: #b0c4df;
  --text-color: #080707;
}

.ccb-textarea {
  font-size: 0.9rem;
  color: var(--text-color);
}

.ccb-input {
  font-size: 0.9rem;
  color: var(--text-color);
  padding: 1px 10px;
}

.ccb-form__wrapper {
  background-color: var(--primary-color);
  padding: 0 10px;
  min-height: 100vh;
}

li {
  border: 2px solid var(--text-color);
  border-radius: 6px;
  padding: 3px;
  margin: 7px 0;
}

#ccb-form {
  width: 390px;
  margin: 0 auto;
}

.ccb-form__Group {
  display: flex;
  flex-direction: column;
}

.ccb-form__header {
  font-size: 18px;
  color: var(--text-color);
  text-align: center;
  padding-top: 2px;
}

.ccb-select {
  font-size: 0.9rem;
  color: var(--text-color);
  padding: 6px;
  outline: none;
  height: auto;
}

.ccb-label {
  font-size: 1rem;
  color: var(--text-color);
}

.form-input {
  font-size: 18px;
  outline: none;
  padding: 10px;
  white-space: pre-wrap;
}

.button {
  width: 100%;
  font-size: 0.9rem;
  padding: 1px 0;
}

.button:hover {
  cursor: pointer;
}

.button + .button {
  margin-left: 0;
}

.submitButton {
  margin: 7px 0;
}

.removeButton {
  margin-top: 7px;
}

#elementList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.actionTypeContent {
  display: flex;
  flex-direction: column;
}

.element__header {
  font-size: 18px;
  color: var(--text-color);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
