html {
  background: #ffffff;
}
.error {border-color: red;}
.slds-form-element__label{ 
font-size: .85rem;
font-weight: 600;
}
#DEFields{ font-size: 0.75rem;}

#okia{ padding-right: 10px;}

.loading-indicator {
  height:80px;
  width:80px;
  background:url('../images/loading.gif' );
  background-repeat:no-repeat;
  background-position:center center;
}

.loading-indicator-overlay {
  background-color:#FFFFFF;
  opacity:0.6;
  filter: alpha(opacity =60);
}

#ContentBuilder { 
  display:none;
}